.mv {
  background-image: url(/img/top/topMv.jpg);
}

.accordion {
  margin-top: 80px;
  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }
  &__inner {
    padding: 0;
  }
  button {
    background-color: #eeeeee;
    padding: 20px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
      padding: 10px;
    }
    &::before {
      content: "Q";
      font-size: 24px;
      color: #e47936;
      margin-right: 10px;
      order: 1;
    }

    svg {
      margin-left: auto;
      width: 25px !important;
      height: auto !important;
    }
  }
}
